div.iconContainer {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  padding-right: 1rem;
}

a.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
}

a.iconLink:hover {
  background-color: var(--fo-palette-background-level2);
}

a.iconLink svg {
  outline: none;
  color: var(--fo-palette-text-primary);
}
