.bar {
  position: absolute;
  top: 0;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
  z-index: 1000;

  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    30%,
    var(--joy-palette-background-level2)
  );

  display: flex;
  justify-content: space-between;
}
