.bar {
  position: absolute;
  top: 0;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  overflow: visible;
  width: 100%;
  z-index: 1000;

  background-image: linear-gradient(
    to top,
    var(--fo-palette-background-mediaSpaceTransparent),
    30%,
    var(--fo-palette-background-mediaSpace)
  );

  display: flex;
  justify-content: space-between;
}
