body {
  --fo-palette-background-header: hsl(200, 0%, 15%);
  --fo-palette-background-body: hsl(200, 0%, 15%);
  --fo-palette-background-level2: hsl(200, 0%, 10%);
  --fo-palette-background-button: hsl(200, 0%, 20%);
  --fo-palette-text-primary: hsl(200, 0%, 100%);
  --fo-palette-text-secondary: hsl(200, 0%, 70%);
  --fo-palette-background-level3: hsl(200, 0%, 5%);
  --fo-palette-primary-brand: hsl(25, 100%, 51%);

  padding: 0;
  margin: 0;
  background: #1a1a1a;
  color: #fff;
  font-family: "Palanquin", sans-serif;
  font-size: 14px;
}
