.form {
  position: absolute;
  display: flex;
  flex-direction: column;

  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 300px;

  background: var(--background);
  border: 1px solid var(--background-border);
  box-shadow: 0 2px 40px var(--background-dark);
  border-radius: 3px;
  color: var(--font);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text {
  font-weight: unset;
  margin-bottom: 1rem;
  color: var(--font-dark);
}

.form input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
  color: var(--font);
  line-height: 1rem;
  border: none;
  border-bottom: 1px solid var(--brand);
  font-weight: bold;
  outline: none;
}

.teamsForm input:focus {
  border-bottom: 1px solid var(--brand);
  outline: none;
  font-weight: bold;
}
.teamsForm input::placeholder {
  color: var(--font-dark);
  font-weight: bold;
}
