/**
 * Copyright 2017-2025, Voxel51, Inc.
 */

.lookerJSONPanel {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.95;
}

.lookerJSONPanel pre {
  font-weight: normal;
}

.lookerCloseJSON {
  right: 0;
}

.lookerCopyJSON {
  right: 30px;
}

.lookerCopyJSON,
.lookerCloseJSON {
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  top: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.lookerCloseJSON:hover,
.lookerCopyJSON:hover {
  background-color: var(--fo-palette-primary-plainColor);
  color: var(--fo-palette-text-buttonHighlight);
  transform: translate(0, -1px);
}
