/**
 * Copyright 2017-2025, Voxel51, Inc.
 */

.lookerPanel {
  line-height: 1;
  font-weight: bold;
  color: var(--fo-palette-text-secondary);
  background-color: var(--fo-palette-background-level2);
  border: 1px solid var(--fo-palette-primary-plainBorder);
  box-shadow: 0 8px 15px 0 var(--fo-palette-neutral-softBg);
  border-radius: 3px;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  pointer-events: all;
  padding: 1rem;
}

.copyBtnClass {
  color: var(--fo-palette-primary-plainColor);
}

.copyBtnClass:hover {
  color: var(--fo-palette-primary-plainColor);
}

.lookerPanel::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
.lookerPanel::-webkit-scrollbar-thumb {
  width: 0px;
  display: none;
}

.lookerPanelContainer {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.lookerPanelVerticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 3.5rem;
}
