.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav {
  background: var(--background-light);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 260px;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding-bottom: 0.5rem;
  justify-content: left;
  column-gap: 1rem;
}

.heading > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading > img {
  height: 2.5rem;
}

.heading span {
  font-weight: bold;
  font-size: 1.3rem;
}

.entries {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.entries > a {
  margin: 0.25rem 1rem;
  padding: 0.25rem;
  color: var(--font-dark);
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  transition: all 0.1 linear;
  display: flex;
  justify-content: left;
  column-gap: 0.5rem;
  align-items: center;
}

.entries > a:hover {
  color: var(--font);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
}

.entries > a.activeEntry {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
  color: var(--font);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
