.scrollable {
  scrollbar-color: var(--fo-palette-text-tertiary)
    var(--fo-palette-background-body);

  scrollbar-gutter: auto;

  scrollbar-width: auto;
}

.scrollable::-webkit-scrollbar {
  width: 16px;
}
.scrollableSm::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollable::-webkit-scrollbar-track {
  border: solid 4px transparent var(--fo-palette-text-tertiary);
}

.scrollable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 4px transparent;
  border-radius: 16px;
  transition: box-shadow linear 0.5s;
}

.scrollable:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--fo-palette-text-tertiary);
}
