.scrollable {
  overflow: auto;
  overscroll-behavior: contain;

  --light-color: var(--fo-palette-text-tertiary);
  --dark-color: var(--fo-palette-background-level2);
}

.scrollable::-webkit-scrollbar-track {
  width: 14px;
  box-shadow: inset 0 0 14px 14px var(--dark-color);
}

.scrollable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--light-color);
  border-radius: 0;
}

.scrollableSm::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
