/***********************************************************
  Central Color Mapping Base for all components to iterate
***********************************************************/

@colors: {
  @primary: {
    color: @primaryColor;
    light: @lightPrimaryColor;
    border: @primaryBorderColor;
    background: @primaryBackground;
    header: @primaryHeaderColor;
    boxshadow: @primaryBoxShadow;
    boxfloatshadow: @primaryBoxFloatingShadow;
    text: @primaryTextColor;
    lighttext: @lightPrimaryTextColor;
    hovertext: @primaryHoverTextColor;
    focus: @primaryColorFocus;
    lightfocus: @lightPrimaryColorFocus;
    down: @primaryColorDown;
    lightdown: @lightPrimaryColorDown;
    active: @primaryColorActive;
    lightactive: @lightPrimaryColorActive;
    shadow: @primaryTextShadow;
    lightshadow: @lightPrimaryTextShadow;
    hover: @primaryColorHover;
    lighthover: @lightPrimaryColorHover;
    ribbon: @primaryRibbonShadow;
    invertedribbon: @primaryInvertedRibbonShadow;
    tertiary: @primaryTertiaryColor;
    tertiaryhover: @primaryTertiaryColorHover;
    tertiaryfocus: @primaryTertiaryColorFocus;
    tertiaryactive: @primaryTertiaryColorActive;
    bright: @primaryBright;
    brighthover: @primaryBrightHover;
    isdark: false;
    isverydark: false;
  };
  @secondary: {
    color: @secondaryColor;
    light: @lightSecondaryColor;
    border: @secondaryBorderColor;
    background: @secondaryBackground;
    header: @secondaryHeaderColor;
    boxshadow: @secondaryBoxShadow;
    boxfloatshadow: @secondaryBoxFloatingShadow;
    text: @secondaryTextColor;
    lighttext: @lightSecondaryTextColor;
    hovertext: @secondaryHoverTextColor;
    focus: @secondaryColorFocus;
    lightfocus: @lightSecondaryColorFocus;
    down: @secondaryColorDown;
    lightdown: @lightSecondaryColorDown;
    active: @secondaryColorActive;
    lightactive: @lightSecondaryColorActive;
    shadow: @secondaryTextShadow;
    lightshadow: @lightSecondaryTextShadow;
    hover: @secondaryColorHover;
    lighthover: @lightSecondaryColorHover;
    ribbon: @secondaryRibbonShadow;
    invertedribbon: @secondaryInvertedRibbonShadow;
    tertiary: @secondaryTertiaryColor;
    tertiaryhover: @secondaryTertiaryColorHover;
    tertiaryfocus: @secondaryTertiaryColorFocus;
    tertiaryactive: @secondaryTertiaryColorActive;
    bright: @secondaryBright;
    brighthover: @secondaryBrightHover;
    isdark: false;
    isverydark: false;
  };
  @red: {
    color: @red;
    light: @lightRed;
    border: @redBorderColor;
    background: @redBackground;
    header: @redHeaderColor;
    boxshadow: @redBoxShadow;
    boxfloatshadow: @redBoxFloatingShadow;
    text: @redTextColor;
    lighttext: @lightRedTextColor;
    hovertext: @redHoverTextColor;
    focus: @redFocus;
    lightfocus: @lightRedFocus;
    down: @redDown;
    lightdown: @lightRedDown;
    active: @redActive;
    lightactive: @lightRedActive;
    shadow: @redTextShadow;
    lightshadow: @lightRedTextShadow;
    hover: @redHover;
    lighthover: @lightRedHover;
    ribbon: @redRibbonShadow;
    invertedribbon: @redInvertedRibbonShadow;
    tertiary: @redTertiaryColor;
    tertiaryhover: @redTertiaryColorHover;
    tertiaryfocus: @redTertiaryColorFocus;
    tertiaryactive: @redTertiaryColorActive;
    bright: @redBright;
    brighthover: @redBrightHover;
    isdark: false;
    isverydark: false;
  };
  @orange: {
    color: @orange;
    light: @lightOrange;
    border: @orangeBorderColor;
    background: @orangeBackground;
    header: @orangeHeaderColor;
    boxshadow: @orangeBoxShadow;
    boxfloatshadow: @orangeBoxFloatingShadow;
    text: @orangeTextColor;
    lighttext: @lightOrangeTextColor;
    hovertext: @orangeHoverTextColor;
    focus: @orangeFocus;
    lightfocus: @lightOrangeFocus;
    down: @orangeDown;
    lightdown: @lightOrangeDown;
    active: @orangeActive;
    lightactive: @lightOrangeActive;
    shadow: @orangeTextShadow;
    lightshadow: @lightOrangeTextShadow;
    hover: @orangeHover;
    lighthover: @lightOrangeHover;
    ribbon: @orangeRibbonShadow;
    invertedribbon: @orangeInvertedRibbonShadow;
    tertiary: @orangeTertiaryColor;
    tertiaryhover: @orangeTertiaryColorHover;
    tertiaryfocus: @orangeTertiaryColorFocus;
    tertiaryactive: @orangeTertiaryColorActive;
    bright: @orangeBright;
    brighthover: @orangeBrightHover;
    isdark: false;
    isverydark: false;
  };
  @yellow: {
    color: @yellow;
    light: @lightYellow;
    border: @yellowBorderColor;
    background: @yellowBackground;
    header: @yellowHeaderColor;
    boxshadow: @yellowBoxShadow;
    boxfloatshadow: @yellowBoxFloatingShadow;
    text: @yellowTextColor;
    lighttext: @lightYellowTextColor;
    hovertext: @yellowHoverTextColor;
    focus: @yellowFocus;
    lightfocus: @lightYellowFocus;
    down: @yellowDown;
    lightdown: @lightYellowDown;
    active: @yellowActive;
    lightactive: @lightYellowActive;
    shadow: @yellowTextShadow;
    lightshadow: @lightYellowTextShadow;
    hover: @yellowHover;
    lighthover: @lightYellowHover;
    ribbon: @yellowRibbonShadow;
    invertedribbon: @yellowInvertedRibbonShadow;
    tertiary: @yellowTertiaryColor;
    tertiaryhover: @yellowTertiaryColorHover;
    tertiaryfocus: @yellowTertiaryColorFocus;
    tertiaryactive: @yellowTertiaryColorActive;
    bright: @yellowBright;
    brighthover: @yellowBrightHover;
    isdark: false;
    isverydark: false;
  };
  @olive: {
    color: @olive;
    light: @lightOlive;
    border: @oliveBorderColor;
    background: @oliveBackground;
    header: @oliveHeaderColor;
    boxshadow: @oliveBoxShadow;
    boxfloatshadow: @oliveBoxFloatingShadow;
    text: @oliveTextColor;
    lighttext: @lightOliveTextColor;
    hovertext: @oliveHoverTextColor;
    focus: @oliveFocus;
    lightfocus: @lightOliveFocus;
    down: @oliveDown;
    lightdown: @lightOliveDown;
    active: @oliveActive;
    lightactive: @lightOliveActive;
    shadow: @oliveTextShadow;
    lightshadow: @lightOliveTextShadow;
    hover: @oliveHover;
    lighthover: @lightOliveHover;
    ribbon: @oliveRibbonShadow;
    invertedribbon: @oliveInvertedRibbonShadow;
    tertiary: @oliveTertiaryColor;
    tertiaryhover: @oliveTertiaryColorHover;
    tertiaryfocus: @oliveTertiaryColorFocus;
    tertiaryactive: @oliveTertiaryColorActive;
    bright: @oliveBright;
    brighthover: @oliveBrightHover;
    isdark: false;
    isverydark: false;
  };
  @green: {
    color: @green;
    light: @lightGreen;
    border: @greenBorderColor;
    background: @greenBackground;
    header: @greenHeaderColor;
    boxshadow: @greenBoxShadow;
    boxfloatshadow: @greenBoxFloatingShadow;
    text: @greenTextColor;
    lighttext: @lightGreenTextColor;
    hovertext: @greenHoverTextColor;
    focus: @greenFocus;
    lightfocus: @lightGreenFocus;
    down: @greenDown;
    lightdown: @lightGreenDown;
    active: @greenActive;
    lightactive: @lightGreenActive;
    shadow: @greenTextShadow;
    lightshadow: @lightGreenTextShadow;
    hover: @greenHover;
    lighthover: @lightGreenHover;
    ribbon: @greenRibbonShadow;
    invertedribbon: @greenInvertedRibbonShadow;
    tertiary: @greenTertiaryColor;
    tertiaryhover: @greenTertiaryColorHover;
    tertiaryfocus: @greenTertiaryColorFocus;
    tertiaryactive: @greenTertiaryColorActive;
    bright: @greenBright;
    brighthover: @greenBrightHover;
    isdark: false;
    isverydark: false;
  };
  @teal: {
    color: @teal;
    light: @lightTeal;
    border: @tealBorderColor;
    background: @tealBackground;
    header: @tealHeaderColor;
    boxshadow: @tealBoxShadow;
    boxfloatshadow: @tealBoxFloatingShadow;
    text: @tealTextColor;
    lighttext: @lightTealTextColor;
    hovertext: @tealHoverTextColor;
    focus: @tealFocus;
    lightfocus: @lightTealFocus;
    down: @tealDown;
    lightdown: @lightTealDown;
    active: @tealActive;
    lightactive: @lightTealActive;
    shadow: @tealTextShadow;
    lightshadow: @lightTealTextShadow;
    hover: @tealHover;
    lighthover: @lightTealHover;
    ribbon: @tealRibbonShadow;
    invertedribbon: @tealInvertedRibbonShadow;
    tertiary: @tealTertiaryColor;
    tertiaryhover: @tealTertiaryColorHover;
    tertiaryfocus: @tealTertiaryColorFocus;
    tertiaryactive: @tealTertiaryColorActive;
    bright: @tealBright;
    brighthover: @tealBrightHover;
    isdark: false;
    isverydark: false;
  };
  @blue: {
    color: @blue;
    light: @lightBlue;
    border: @blueBorderColor;
    background: @blueBackground;
    header: @blueHeaderColor;
    boxshadow: @blueBoxShadow;
    boxfloatshadow: @blueBoxFloatingShadow;
    text: @blueTextColor;
    lighttext: @lightBlueTextColor;
    hovertext: @blueHoverTextColor;
    focus: @blueFocus;
    lightfocus: @lightBlueFocus;
    down: @blueDown;
    lightdown: @lightBlueDown;
    active: @blueActive;
    lightactive: @lightBlueActive;
    shadow: @blueTextShadow;
    lightshadow: @lightBlueTextShadow;
    hover: @blueHover;
    lighthover: @lightBlueHover;
    ribbon: @blueRibbonShadow;
    invertedribbon: @blueInvertedRibbonShadow;
    tertiary: @blueTertiaryColor;
    tertiaryhover: @blueTertiaryColorHover;
    tertiaryfocus: @blueTertiaryColorFocus;
    tertiaryactive: @blueTertiaryColorActive;
    bright: @blueBright;
    brighthover: @blueBrightHover;
    isdark: false;
    isverydark: false;
  };
  @violet: {
    color: @violet;
    light: @lightViolet;
    border: @violetBorderColor;
    background: @violetBackground;
    header: @violetHeaderColor;
    boxshadow: @violetBoxShadow;
    boxfloatshadow: @violetBoxFloatingShadow;
    text: @violetTextColor;
    lighttext: @lightVioletTextColor;
    hovertext: @violetHoverTextColor;
    focus: @violetFocus;
    lightfocus: @lightVioletFocus;
    down: @violetDown;
    lightdown: @lightVioletDown;
    active: @violetActive;
    lightactive: @lightVioletActive;
    shadow: @violetTextShadow;
    lightshadow: @lightVioletTextShadow;
    hover: @violetHover;
    lighthover: @lightVioletHover;
    ribbon: @violetRibbonShadow;
    invertedribbon: @violetInvertedRibbonShadow;
    tertiary: @violetTertiaryColor;
    tertiaryhover: @violetTertiaryColorHover;
    tertiaryfocus: @violetTertiaryColorFocus;
    tertiaryactive: @violetTertiaryColorActive;
    bright: @violetBright;
    brighthover: @violetBrightHover;
    isdark: false;
    isverydark: false;
  };
  @purple: {
    color: @purple;
    light: @lightPurple;
    border: @purpleBorderColor;
    background: @purpleBackground;
    header: @purpleHeaderColor;
    boxshadow: @purpleBoxShadow;
    boxfloatshadow: @purpleBoxFloatingShadow;
    text: @purpleTextColor;
    lighttext: @lightPurpleTextColor;
    hovertext: @purpleHoverTextColor;
    focus: @purpleFocus;
    lightfocus: @lightPurpleFocus;
    down: @purpleDown;
    lightdown: @lightPurpleDown;
    active: @purpleActive;
    lightactive: @lightPurpleActive;
    shadow: @purpleTextShadow;
    lightshadow: @lightPurpleTextShadow;
    hover: @purpleHover;
    lighthover: @lightPurpleHover;
    ribbon: @purpleRibbonShadow;
    invertedribbon: @purpleInvertedRibbonShadow;
    tertiary: @purpleTertiaryColor;
    tertiaryhover: @purpleTertiaryColorHover;
    tertiaryfocus: @purpleTertiaryColorFocus;
    tertiaryactive: @purpleTertiaryColorActive;
    bright: @purpleBright;
    brighthover: @purpleBrightHover;
    isdark: false;
    isverydark: false;
  };
  @pink: {
    color: @pink;
    light: @lightPink;
    border: @pinkBorderColor;
    background: @pinkBackground;
    header: @pinkHeaderColor;
    boxshadow: @pinkBoxShadow;
    boxfloatshadow: @pinkBoxFloatingShadow;
    text: @pinkTextColor;
    lighttext: @lightPinkTextColor;
    hovertext: @pinkHoverTextColor;
    focus: @pinkFocus;
    lightfocus: @lightPinkFocus;
    down: @pinkDown;
    lightdown: @lightPinkDown;
    active: @pinkActive;
    lightactive: @lightPinkActive;
    shadow: @pinkTextShadow;
    lightshadow: @lightPinkTextShadow;
    hover: @pinkHover;
    lighthover: @lightPinkHover;
    ribbon: @pinkRibbonShadow;
    invertedribbon: @pinkInvertedRibbonShadow;
    tertiary: @pinkTertiaryColor;
    tertiaryhover: @pinkTertiaryColorHover;
    tertiaryfocus: @pinkTertiaryColorFocus;
    tertiaryactive: @pinkTertiaryColorActive;
    bright: @pinkBright;
    brighthover: @pinkBrightHover;
    isdark: false;
    isverydark: false;
  };
  @brown: {
    color: @brown;
    light: @lightBrown;
    border: @brownBorderColor;
    background: @brownBackground;
    header: @brownHeaderColor;
    boxshadow: @brownBoxShadow;
    boxfloatshadow: @brownBoxFloatingShadow;
    text: @brownTextColor;
    lighttext: @lightBrownTextColor;
    hovertext: @brownHoverTextColor;
    focus: @brownFocus;
    lightfocus: @lightBrownFocus;
    down: @brownDown;
    lightdown: @lightBrownDown;
    active: @brownActive;
    lightactive: @lightBrownActive;
    shadow: @brownTextShadow;
    lightshadow: @lightBrownTextShadow;
    hover: @brownHover;
    lighthover: @lightBrownHover;
    ribbon: @brownRibbonShadow;
    invertedribbon: @brownInvertedRibbonShadow;
    tertiary: @brownTertiaryColor;
    tertiaryhover: @brownTertiaryColorHover;
    tertiaryfocus: @brownTertiaryColorFocus;
    tertiaryactive: @brownTertiaryColorActive;
    bright: @brownBright;
    brighthover: @brownBrightHover;
    isdark: false;
    isverydark: false;
  };
  @grey: {
    color: @grey;
    light: @lightGrey;
    border: @greyBorderColor;
    background: @greyBackground;
    header: @greyHeaderColor;
    boxshadow: @greyBoxShadow;
    boxfloatshadow: @greyBoxFloatingShadow;
    text: @greyTextColor;
    lighttext: @lightGreyTextColor;
    hovertext: @greyHoverTextColor;
    focus: @greyFocus;
    lightfocus: @lightGreyFocus;
    down: @greyDown;
    lightdown: @lightGreyDown;
    active: @greyActive;
    lightactive: @lightGreyActive;
    shadow: @greyTextShadow;
    lightshadow: @lightGreyTextShadow;
    hover: @greyHover;
    lighthover: @lightGreyHover;
    ribbon: @greyRibbonShadow;
    invertedribbon: @greyInvertedRibbonShadow;
    tertiary: @greyTertiaryColor;
    tertiaryhover: @greyTertiaryColorHover;
    tertiaryfocus: @greyTertiaryColorFocus;
    tertiaryactive: @greyTertiaryColorActive;
    bright: @greyBright;
    brighthover: @greyBrightHover;
    isdark: true;
    isverydark: false;
  };
  @black: {
    color: @black;
    light: @lightBlack;
    border: @blackBorderColor;
    background: @blackBackground;
    header: @blackHeaderColor;
    boxshadow: @blackBoxShadow;
    boxfloatshadow: @blackBoxFloatingShadow;
    text: @blackTextColor;
    lighttext: @lightBlackTextColor;
    hovertext: @blackHoverTextColor;
    focus: @blackFocus;
    lightfocus: @lightBlackFocus;
    down: @blackDown;
    lightdown: @lightBlackDown;
    active: @blackActive;
    lightactive: @lightBlackActive;
    shadow: @blackTextShadow;
    lightshadow: @lightBlackTextShadow;
    hover: @blackHover;
    lighthover: @lightBlackHover;
    ribbon: @blackRibbonShadow;
    invertedribbon: @blackInvertedRibbonShadow;
    tertiary: @blackTertiaryColor;
    tertiaryhover: @blackTertiaryColorHover;
    tertiaryfocus: @blackTertiaryColorFocus;
    tertiaryactive: @blackTertiaryColorActive;
    bright: @blackBright;
    brighthover: @blackBrightHover;
    isdark: true;
    isverydark: true;
  };
};

/***********************************************************
  Color Mapping Base for form components to iterate
***********************************************************/

@formStates: {
  @error: {
    color: @formErrorColor;
    background: @formErrorBackground;
    bordercolor: @formErrorBorder;
    borderradius: @inputErrorBorderRadius;
    boxshadow: @inputErrorBoxShadow;
    cornerlabelcolor: @white;

    dropdownlabelcolor: @dropdownErrorLabelColor;
    dropdownlabelbackground: @dropdownErrorLabelBackground;
    dropdownhoverbackground: @dropdownErrorHoverBackground;
    dropdownselectedbackground: @dropdownErrorSelectedBackground;
    dropdownactivebackground: @dropdownErrorActiveBackground;

    inputautofillbackground: @inputAutoFillErrorBackground;
    inputautofillbordercolor: @inputAutoFillErrorBorder;
    inputfocusbackground: @inputErrorFocusBackground;
    inputfocuscolor: @inputErrorFocusColor;
    inputfocusbordercolor: @inputErrorFocusBorder;
    inputfocusboxshadow: @inputErrorFocusBoxShadow;
    inputplaceholdercolor: @inputErrorPlaceholderColor;
    inputplaceholderfocuscolor: @inputErrorPlaceholderFocusColor;

    transparentbackground: @transparentFormErrorBackground;
    transparentcolor: @transparentFormErrorColor;
  };

  @info: {
    color: @formInfoColor;
    background: @formInfoBackground;
    bordercolor: @formInfoBorder;
    borderradius: @inputInfoBorderRadius;
    boxshadow: @inputInfoBoxShadow;
    cornerlabelcolor: @white;

    dropdownlabelcolor: @dropdownInfoLabelColor;
    dropdownlabelbackground: @dropdownInfoLabelBackground;
    dropdownhoverbackground: @dropdownInfoHoverBackground;
    dropdownselectedbackground: @dropdownInfoSelectedBackground;
    dropdownactivebackground: @dropdownInfoActiveBackground;

    inputautofillbackground: @inputAutoFillInfoBackground;
    inputautofillbordercolor: @inputAutoFillInfoBorder;
    inputfocusbackground: @inputInfoFocusBackground;
    inputfocuscolor: @inputInfoFocusColor;
    inputfocusbordercolor: @inputInfoFocusBorder;
    inputfocusboxshadow: @inputInfoFocusBoxShadow;
    inputplaceholdercolor: @inputInfoPlaceholderColor;
    inputplaceholderfocuscolor: @inputInfoPlaceholderFocusColor;

    transparentbackground: @transparentFormInfoBackground;
    transparentcolor: @transparentFormInfoColor;
  };

  @success: {
    color: @formSuccessColor;
    background: @formSuccessBackground;
    bordercolor: @formSuccessBorder;
    borderradius: @inputSuccessBorderRadius;
    boxshadow: @inputSuccessBoxShadow;
    cornerlabelcolor: @white;

    dropdownlabelcolor: @dropdownSuccessLabelColor;
    dropdownlabelbackground: @dropdownSuccessLabelBackground;
    dropdownhoverbackground: @dropdownSuccessHoverBackground;
    dropdownselectedbackground: @dropdownSuccessSelectedBackground;
    dropdownactivebackground: @dropdownSuccessActiveBackground;

    inputautofillbackground: @inputAutoFillSuccessBackground;
    inputautofillbordercolor: @inputAutoFillSuccessBorder;
    inputfocusbackground: @inputSuccessFocusBackground;
    inputfocuscolor: @inputSuccessFocusColor;
    inputfocusbordercolor: @inputSuccessFocusBorder;
    inputfocusboxshadow: @inputSuccessFocusBoxShadow;
    inputplaceholdercolor: @inputSuccessPlaceholderColor;
    inputplaceholderfocuscolor: @inputSuccessPlaceholderFocusColor;

    transparentbackground: @transparentFormSuccessBackground;
    transparentcolor: @transparentFormSuccessColor;
  };

  @warning: {
    color: @formWarningColor;
    background: @formWarningBackground;
    bordercolor: @formWarningBorder;
    borderradius: @inputWarningBorderRadius;
    boxshadow: @inputWarningBoxShadow;
    cornerlabelcolor: @white;

    dropdownlabelcolor: @dropdownWarningLabelColor;
    dropdownlabelbackground: @dropdownWarningLabelBackground;
    dropdownhoverbackground: @dropdownWarningHoverBackground;
    dropdownselectedbackground: @dropdownWarningSelectedBackground;
    dropdownactivebackground: @dropdownWarningActiveBackground;

    inputautofillbackground: @inputAutoFillWarningBackground;
    inputautofillbordercolor: @inputAutoFillWarningBorder;
    inputfocusbackground: @inputWarningFocusBackground;
    inputfocuscolor: @inputWarningFocusColor;
    inputfocusbordercolor: @inputWarningFocusBorder;
    inputfocusboxshadow: @inputWarningFocusBoxShadow;
    inputplaceholdercolor: @inputWarningPlaceholderColor;
    inputplaceholderfocuscolor: @inputWarningPlaceholderFocusColor;

    transparentbackground: @transparentFormWarningBackground;
    transparentcolor: @transparentFormWarningColor;
  };
};
