/**
 * Delay the pending indicator in case the transition is very fast: 
 * https://reactjs.org/docs/concurrent-mode-patterns.html#delaying-a-pending-indicator 
 */
.RouteRenderer-pending {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  animation: 0s linear 0.5s forwards makeVisible;
  visibility: hidden;
}

@keyframes makeVisible {
  to {
    visibility: visible;
  }
}
