node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.build

.env.dev

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
coverage
.snowpack
yarn-error.log
