node_modules/
/test-results/
/playwright-report/
/blob-report/
/all-blob-reports/
merged-results.json
e2e-summary.md
/playwright/.cache/
.build

.env.dev

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
coverage
.snowpack
yarn-error.log
