*   @voxel51/developers

# Shared GraphQL schema requires notification of both frontend and backend
/package/graphql/ @voxel51/backend-squad @voxel51/frontend-devs

# Frontend
.prettierignore              @voxel51/frontend-devs
.prettierrc.js               @voxel51/frontend-devs
/app/                        @voxel51/frontend-devs
/plugins/panels              @voxel51/plugin-pros
/e2e-pw/                     @voxel51/frontend-devs
/fiftyone/server/            @voxel51/frontend-devs

# Backend
/fiftyone/api/               @voxel51/backend-squad
/fiftyone/core/              @voxel51/backend-squad
/fiftyone/core/models.py
/fiftyone/factory/           @voxel51/backend-squad
/fiftyone/internal/          @voxel51/backend-squad
/fiftyone/management/        @voxel51/backend-squad
/fiftyone/migrations/        @voxel51/backend-squad

# Aloha Shirts care about versioning
Dockerfile                   @voxel51/aloha-shirts
setup.py                     @voxel51/aloha-shirts
requirements.txt             @voxel51/aloha-shirts
requirements/                @voxel51/aloha-shirts
