
**/*.DS_store

__pycache__
*.py[cod]

*.egg-info
.project
.pydevproject
**/*.ipynb_checkpoints
.idea

*~

/eta/

data/
out/
tmp/

/docs/build/
/docs/source/*.rst
!/docs/source/index.rst
!/docs/source/README.rst
