__pycache__
.DS_store
.idea
.ipynb_checkpoints
.fiftyone
.project
.pydevproject
.vscode
node_modules

*~
*.egg-info
*.py[cod]
*.swp

build/
dist/

/fiftyone-brain/
/eta/

/docs/build/
/docs/source/api/

/bin
/lib
.coverage.*

coverage.xml
pyvenv.cfg
