
**/*.DS_store
.vscode
node_modules

__pycache__
*.py[cod]

*.egg-info
.project
.pydevproject
**/*.ipynb_checkpoints
.idea
*.swp

*~

build/
dist/

/fiftyone-brain/
/eta/

/docs/build/
/docs/source/api/

/bin
/lib
coverage.xml
.coverage.*
pyvenv.cfg

.env