{
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 79,
                "proseWrap": "always",
                "tabWidth": 4
            }
        }
    ]
}