global-include *
global-exclude *.py[cod]

prune .*
prune app
prune dist
prune e2e
prune e2e-pw
prune eta
prune package
prune requirements
prune teams-app
prune tests
prune tools

global-exclude .*
exclude TEAMS.md

recursive-exclude fiftyone *.md

recursive-exclude docs *
recursive-include docs *.py
