global-include *
global-exclude *.py[cod]

prune .*
prune app
prune e2e
prune e2e-pw
prune eta
prune package
prune requirements
prune tools
prune tests
prune dist

global-exclude .*

recursive-exclude fiftyone *.md

recursive-exclude docs *
recursive-include docs *.py
