[build-system]
requires = ["setuptools", "wheel"]
[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
  | \.git
)/
'''
[tool.isort]
profile = "black"
line_length = 79
known_first_party = ["eta", "brain"]
force_sort_within_sections = true
