.primitive {
  stroke: var(--ann-stroke);
  transition: stroke 80ms linear;
}

.primitive:hover,
.selected {
  stroke: var(--ann-hover, #ff7a18);
}

.fillInterior {
  fill: transparent;
  stroke: none;
}

.primitiveDot {
  fill: var(--ann-stroke);
  transition: fill 80ms linear;
}

.primitive:hover .primitiveDot,
.selected .primitiveDot {
  fill: var(--ann-hover, #ff7a18);
}

.selectable {
  cursor: pointer;
  pointer-events: all;
}
