.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: transparent;
}

.loading > div {
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-size: 2rem;
  font-weight: bold;
}
