.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  color: var(--joy-palette-text-secondary);
  background: transparent;
  word-break: break-all;
}

.loading > div {
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-size: 1.5rem;
  font-weight: bold;
}
