/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "./player51/src/css/player51.css";

body {
  position: relative;
  height: 100vh;
}

#root {
  height: 100%;
}

.ui.vertical.inverted.menu .menu span.item {
  color: rgba(255, 255, 255, 0.8);
}

.search > .ui.input {
  width: 100%;
}
