/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~semantic-ui-css/semantic.min.css";

body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: white;
}

#root {
  height: 100%;
}

.ui.vertical.inverted.menu .menu span.item {
  color: rgba(255, 255, 255, 0.8);
}

.search > .ui.input {
  width: 100%;
}
