.datasetListing {
  display: flex;
  width: 100%;
  justify-content: center;
}

.datasetCard {
  background: var(--background-light);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  padding: 0.25rem;
  border-radius: 3px;
}

.datasetCard h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--font);
  padding: 0;
  margin: 0.25rem 0;
}

.datasetCard p {
  font-weight: bold;
  color: var(--font-dark);
  margin: 0.1rem;
  padding: 0;
}
