.wrapper {
  width: 100%;
  overflow: auto;
}

.container {
  width: 80%;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--joy-palette-text-primary);
  font-weight: bold;
}

.heading > div {
  display: flex;
  justify-content: lrt;
}

.heading > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.heading svg {
  cursor: pointer;
}

.message {
  font-weight: bold;
  text-align: center;
}

.stack {
  border: 1px solid var(--joy-palette-divider);
  border-top: 2px solid var(--joy-palette-primary-plainColor);
  background: var(--joy-palette-background-level3);
  border-radius: 2px;
  color: var(--joy-palette-text-primary);
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem 0 0.5rem;
  text-align: left;
  font-weight: normal;
  font-size: 1rem;

  overflow: auto;
  white-space: nowrap;
}

.stack > div {
  white-space: nowrap;
}
