// Primary colors
$voxel-primary: #ff6d04;
$voxel-primary-hover: #e85a00;
$voxel-primary-light: rgba(255, 109, 4, 0.1);
$voxel-dark: #212529;
$voxel-light: #f8f9fa;
$voxel-border: rgba(0, 0, 0, 0.125);
$voxel-background: #f1ecea;
$voxel-dropdown-background: #fbfaf9;
$white: #ffffff;
$black: #000000;
$text-base: #181a1b;
$text-secondary: #5d5e5f;
$surface-background: #17191A;
$linenos-background: #FFFFFF1A;
$table-border: #E0DBD9;
$table-border-internal: #E8E3E1;

// Spacing
$navbar-spacing: 0.5rem;
$navbar-padding: 0.5rem 1rem;
$dropdown-padding: 0.5rem 1rem;
$button-padding: 0.5rem 1.5rem;

// Borders and shadows
$border-radius: 0.375rem;
$border-radius-button: 25px;
$box-shadow-dropdown: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
$box-shadow-button: 0 4px 15px rgba(255, 109, 4, 0.3);

// Transitions
$transition-fast: 0.15s ease-in-out;
$transition-normal: 0.2s ease-in-out;
$transition-slow: 0.3s ease;

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 991.98px;

// Fonts
$font-family-base: "Geist","Geist Fallback", sans-serif;
$font-family-monospace: "Geist Mono", monospace;

:root {
  --pst-font-family-base: #{$font-family-base};
  --pst-font-family-heading: #{$font-family-base};
  --pst-font-family-monospace: #{$font-family-monospace};

  --pst-font-size-h1: 3rem;
  --pst-font-size-h2: 2.25rem;
  --pst-font-size-h3: 1.5rem;
  --pst-font-size-h4: 1rem;
  --pst-font-size-h5: 1rem;
  --pst-font-size-h6: 1rem;

  --pst-font-weight-heading: 500;

  --sd-color-primary: #{$voxel-primary};
  --feedback-primary-color: #{$text-base};
  --docsearch-primary-color: #{$voxel-primary};
}

/* Light theme variables */
html[data-theme="light"] {
  --pst-color-primary: #{$voxel-primary};
  --pst-color-secondary: #{$voxel-primary};
  --pst-color-secondary-highlight: #{$voxel-primary-hover};
  --pst-color-accent: #{$voxel-primary};
  --color-background: #{$voxel-background};
  --color-dropdown-background: #{$voxel-dropdown-background};
  
  --pst-color-text-base: #{$text-base};
  --pst-color-link: #{$text-base};
  --pst-color-link-hover: #{$text-secondary};
  --pst-color-inline-code: #{$text-base};

  --pst-color-surface: #{$surface-background};
  --pst-color-linenos-background: #{$linenos-background};

  --pst-color-info-bg: #EEF6EF;	

  --pst-color-table-heading-bg: transparent;
  --pst-color-table-row-zebra-low-bg: transparent;
  --pst-color-table-outer-border: #{$table-border};
  --pst-color-table-inner-border: #{$table-border-internal};
  --bs-table-color: #181a1b99;
}

/* Dark theme variables */
html[data-theme="dark"] {

}