@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: var(--joy-palette-background-level2);
  margin: 0;
  padding: 0;
  font-family: var(--joy-fontFamily-body);
  font-size: 14px;

  color: var(--joy-palette-text-primary);
  display: flex;
  flex-direction: column;
  min-width: 660px;
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--joy-palette-background-modalBackdrop);
  top: 0;
  z-index: 1000;
  display: block;
  visibility: hidden;
}

#modal.modalon {
  display: block;
  visibility: visible;
}

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: var(--joy-fontFamily-body);
  font-size: 14px;
  color: var(--joy-palette-text-primary);
}

body {
  overflow: hidden;
}
