.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.container canvas {
  outline: none;
}

.options {
  position: absolute;
  top: 1rem;
  left: 3rem;
  display: flex;
  column-gap: 1rem;
}
