.pointSizeSliderThumb {
  box-shadow: none !important;
}

.pointSizeSliderThumb:hover {
  box-shadow: none !important;
}

.pointSizeTextField {
  border-bottom: 1px solid;
}

.pointSizeSlider {
  align-self: center;
  margin-right: 30px;
}

.pointSizeContainer {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pointSizeBaseContainer {
  margin: 1em;
}

.pointSizeAttenuationCheckbox {
  font: unset;
}
