.pointSizeSliderThumb {
  box-shadow: none !important;
}

.pointSizeSliderThumb:hover {
  box-shadow: none !important;
}

.pointSizeTextField {
  border: none;
  font: inherit;
  border-bottom: 1px solid var(--fo-palette-primary-plainColor);
  background: transparent;
  outline-width: 0;
  width: 2.5em;
  color: var(--fo-palette-text-primary);
}

.pointSizeTextField:focus {
  border: none;
  border-bottom: 1px solid var(--fo-palette-primary-plainColor);
  background: transparent;
  outline-width: 0;
}

.pointSizeSlider {
  align-self: center;
  margin-right: 30px;
}

.pointSizeContainer {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pointSizeBaseContainer {
  margin: 1em;
}

.pointSizeAttenuationLabel {
  /* mui should override label styles with these, but doesn't */
  font-family: inherit !important;
}
