.groupContainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainGroup {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.group {
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.groupSample {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--background-dark-border);
}

.groupSampleActive {
  border-bottom: 3px solid var(--brand);
}
