/**
 * Copyright 2017-2022, Voxel51, Inc.
 */

.lookerHelpPanelItems {
  padding: 1rem 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  font-size: 1rem;
  width: 100%;
  scrollbar-width: none;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
  .lookerHelpPanelItems {
    grid-template-columns: auto auto auto;
  }
}

.lookerHelpPanelItems::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.lookerShortcutValue {
  font-weight: normal;
  color: var(--fo-palette-primary-plainColor);
}

.lookerShortcutTitle {
  color: var(--fo-palette-text-secondary);
  font-weight: bold;
}

.lookerShortcutDetail {
  font-weight: normal;
  color: var(--fo-palette-text-tertiary);
}
