/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.lookerHelpPanel {
  padding: 1rem;
  line-height: 1;
  font-weight: bold;

  color: #eee;
  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}
