/**
 * Copyright 2017-2022, Voxel51, Inc.
 */

.lookerJSONPanel,
.lookerJSONPanel > div,
.lookerJSONPanel > div > div {
  width: 100%;
  height: 100%;
}

.lookerJSONPanel pre {
  font-weight: normal;
}

.lookerCloseJSON {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.lookerCopyJSON {
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
  margin: 3px;
  border-radius: 3px;

  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.lookerCopyJSON:hover {
  background-color: rgb(225, 100, 40);
  transform: translate(0, -1px);
}
