/**
 * Copyright 2017-2023, Voxel51, Inc.
 */

@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

@keyframes shimmer {
  0% {
    background-position: -2000px 0;
  }
  100% {
    background-position: 2000px 0;
  }
}

.lookerLoader {
  animation: shimmer 5s infinite;
  background-size: 200% 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    130deg,
    rgba(225, 100, 40, 0) 0%,
    rgb(225, 100, 40) 50%,
    rgba(225, 100, 40, 0) 100%
  );
}

.looker {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Palanquin", sans-serif;
  font-weight: bold;
  background: transparent;
  outline: none;
  border: none;
}
.lookerError {
}

.looker * {
  outline: none;
}

.lookerFullscreen {
  top: 0;
  left: 0;
  z-index: 20000;
  position: fixed;
}

.looker input {
  cursor: pointer;
  -webkit-appearance: none;
}

.lookerHighlight {
  border: 2px solid var(--fo-palette-primary-plainColor);
  border-radius: 3px;
}
