/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

@keyframes shimmer {
  0% {
    background-position: -2000px 0;
  }
  100% {
    background-position: 2000px 0;
  }
}

.lookerLoader {
  animation: shimmer 5s infinite;
  background-size: 200% 100%;
}

.looker {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Palanquin", sans-serif;
  font-weight: bold;
  background-color: hsl(210, 11%, 15%);
  outline: none;
}

.looker * {
  outline: none;
}

.lookerFullscreen {
  top: 0;
  left: 0;
  z-index: 20000;
  position: fixed;
}

.looker input {
  cursor: pointer;
  -webkit-appearance: none;
}
