/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.lookerOptionsPanel {
  position: absolute;
  right: 0.5rem;
  bottom: 3.5em;
  padding: 5px;
  line-height: 1;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(238, 238, 238);
  display: none;
  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.lookerOptionsPanel *:hover,
.lookerOptionsPanel *:active,
.lookerOptionsPanel *:focus {
  outline: none;
}

.lookerOptionsInput {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  border-radius: 8px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.lookerOptionsInput label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
  cursor: pointer;
  margin: 0 0 1px;
  padding-left: 3px;
  line-height: 1.5;
}

/* Hide the browser's default checkbox */
.lookerOptionsPanel input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}
