/**
 * Copyright 2017-2022, Voxel51, Inc.
 */

.lookerOptionsPanel {
  position: absolute;
  right: 0.5rem;
  bottom: 3.5em;
  padding: 5px;
  line-height: 1;
  opacity: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--fo-palette-text-secondary);
  display: none;
  background-color: var(--fo-palette-background-level2);
  border: 1px solid var(--fo-palette-primary-plainBorder);
  box-shadow: 0 8px 15px 0 var(--fo-palette-neutral-softBg);
  border-radius: 3px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.lookerOptionsPanel *:hover,
.lookerOptionsPanel *:active,
.lookerOptionsPanel *:focus {
  outline: none;
}

.lookerOptionsInput {
  background: var(--fo-palette-neutral-softBg);
  border: 0;
  color: var(--fo-palette-text-secondary);
  border-radius: 8px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.lookerOptionsInput label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
  cursor: pointer;
  margin: 0 0 1px;
  padding-left: 3px;
  line-height: 1.5;
}

/* Hide the browser's default checkbox */
.lookerOptionsPanel input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}
