/**
 * Copyright 2017-2022, Voxel51, Inc.
 */

.lookerPanel {
  padding: 1rem;
  line-height: 1;
  font-weight: bold;
  color: var(--fo-palette-text-secondary);
  background-color: var(--fo-palette-background-level2);
  border: 1px solid var(--fo-palette-primary-plainBorder);
  box-shadow: 0 8px 15px 0 var(--fo-palette-neutral-softBg);
  border-radius: 3px;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  pointer-events: all;
}

.lookerPanel::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}
.lookerPanel::-webkit-scrollbar-thumb {
  width: 0px;
  display: none;
}

.lookerPanelContainer {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.lookerPanelVerticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 3.5rem;
}

.lookerPanelHeader {
  font-size: 18px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--fo-palette-primary-plainColor);
}

.lookerPanelClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 3px;
  border-radius: 3px;

  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.lookerPanelClose:hover {
  background-color: var(--fo-palette-primary-plainColor);
  transform: translate(0, -1px);
}

.lookerPanelFlex {
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
