.page {
  position: relative;
  width: 100%;
  height: calc(100% - 74px);
  flex: 1;
}

.rest {
  display: flex;
  flex: 1;
}

.icons {
  flex-shrink: 0;
}

.lock {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 1rem;
}
