.sd-btn.sd-btn-primary
  background-color: #181a1b
  color: #fff
  border-radius: 3.40282e+38px
  font-size: 14px
  font-weight: 500
  text-decoration: none
  padding: 8px 20px

  &:hover
    background-color: color-mix(in oklab,#181a1b 90%,transparent)
    text-decoration: none

.arrow
  color: #181a1b99
  
  svg
    width: 12px
    height: 12px

.dropdown-arrow
  transform: rotate(-90deg)

.back-arrow
  transform: rotate(90deg)

.back-text
  margin-left: 10px


