.sd-btn.sd-btn-primary
  background-color: var(--pst-color-link) !important
  color: #fff !important
  border-radius: 40px
  font-size: 14px
  font-weight: 500
  text-decoration: none
  padding: 8px 20px
  border-width: 0 !important

  &:hover
    background-color: color-mix(in oklab, var(--pst-color-link) 90%,transparent) !important
    text-decoration: none
  
.sd-btn.sd-btn-primary.book-a-demo
  display: flex
  align-items: center
  flex-direction: row
  padding: 3px 4px
  position: relative

  .arrow
    background-color: #fa5300
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    width: 34px
    height: 34px
    transition: all 0.15s ease
    transform: translateX(0)

  .text
    letter-spacing: -0.01em
    line-height: 1.3
    padding: 0px 16px
    transition: all 0.15s ease
    transform: translateX(0)

  &:hover
    .arrow
      transform: translate3d(116.22px, 0px, 0px)
    .text
      transform: translate3d(-34px, 0px, 0px)

.arrow 
  svg
    width: 12px
    height: 12px

.dropdown-arrow
  color: #181a1b66
  transform: rotate(-90deg)

.back-arrow
  color: #181a1b99
  transform: rotate(90deg)

.back-text
  margin-left: 10px

.btn.with-right-arrow.callout-button
  font-size: 14px
  padding: 0
  display: inline-flex
  align-items: center
  gap: 10px
  border: 0

  &:hover
    color: var(--pst-color-link)

  &:before
    content: ""
    display: inline-flex
    align-items: center
    justify-content: center
    width: 42px
    height: 42px
    background-color: color-mix(in oklab, var(--pst-color-link) 25%, transparent)
    border-radius: 50%
    transition: all 0.3s ease
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E")
    background-repeat: no-repeat
    background-position: center
    background-size: 16px 16px

  &:hover:before
    background-color: var(--pst-color-link)

.DocSearch-Button
  height: 40px
  margin: 0;
  width: 100%;

.DocSearch-Container
  z-index: 300

.DocSearch-Hit-content-wrapper
  overflow: hidden

.DocSearch-Hits mark
  padding: 0;
