.tooltip {
  box-shadow: 0 2px 20px var(--joy-palette-background-tooltip);
  background: var(--joy-palette-background-tooltip);
  border: 1px solid var(--joy-palette-primary-plainBorder);
  padding: 0.25rem;
  border-radius: 3px;
  z-index: 1000;
  font-family: var(--joy-fontFamily-body);
  font-size: 14px;
}
