.container {
  font-size: 1.2rem;
  display: flex;
  border-bottom: 1px var(--brand) solid;
  overflow: visible;
}

.input {
  overflow: hidden;
  width: 100%;
}

.input input {
  background-color: transparent;
  text-decoration: none !important;
  outline: none;
  border: none;
  color: var(--font);
  font-size: 1.2rem;
  border: none;
  align-items: center;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
}

.input input:focus {
  border: none;
  outline: none;
  font-weight: bold;
}

.input input::placeholder {
  color: var(--font-dark);
  font-weight: bold;
}

.resultsContainer {
  background-color: var(--background-dark);
  border: 1px solid var(--background-dark-border);
  border-radius: 2px;
  box-shadow: 0 2px 20px var(--background-dark);
  box-sizing: border-box;
  width: auto;
  overflow: visible;
  position: absolute;
  overflow: auto;
}

.loadingFooter {
  text-align: right;
  color: var(--font);
  padding: 0 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
  border-top: 1px solid var(--background-dark-border);
}
