@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

:root {
  --bg: #ffffff;
  --bg-darker: #f8f8f8;
  --bg-darkest: #c0c0c0;
  --std-border-color: var(--bg-darkest);
  --std-border-width: 0.1rem;
  --std-border-radius: 0.2rem;
  --std-font-color: var(--bg-darkest);

  font-family: "Palanquin", sans-serif;
}

input {
  font-family: "Palanquin", sans-serif;
}

body {
  position: relative;
  height: 100vh;
  will-change: transform;
}

body.noscroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ui.vertical.inverted.menu .menu span.item {
  color: rgba(255, 255, 255, 0.8);
}

.search > .ui.input {
  width: 100%;
}

.sample {
  position: relative;
  width: 100%;
  height: 100%;
}

.hide-info .sample:not(:hover) .sample-info {
  display: none !important;
}

.tag {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 8px 8px 0;
  padding: 0 8px;
  background: transparent;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  background: transparent;
  line-height: 20px;
  min-width: 0;
}

.tag.clickable {
  cursor: pointer;
}

.tag.active {
  border: none;
  background: #777;
  line-height: 24px;
  padding: 0 10px;
}

.ui.header {
  font-weight: normal;
}

.fo-sidebar .item {
  margin: 1rem 0 1rem 0;
  border: none;
}
.fo-sidebar .item:before {
  background: none !important;
}

.fo-sidebar h3,
.fo-sidebar h4 {
  font-weight: bold !important;
}

.fo-sidebar span.item,
.pre-tag {
  background: none !important;
  padding: 0.5em 0 !important;
  font-size: 0.85714286rem !important;
  color: hsl(210, 20%, 90%) !important;
  font-weight: normal !important;
}

.samples-dimmer {
  position: relative !important;
  height: 50px;
  margin: 2rem 0;
}

.ui.button.help {
  display: block;
  margin: auto;
}

.ui.button.help:hover,
.ui.button.help:focus {
  background-color: #cacbcd !important;
  background-image: none !important;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px hsl(210, 20%, 50%) inset !important;
  color: hsl(210, 20%, 15%) !important;
}
