footer.bd-footer
  padding: 48px 0
  background-color: #000
  color: #ffffff66
  font-size: 14px
  font-weight: 500

  a
    color: #ffffff66
    text-decoration: none

    &:hover
      color: #ffffff
      text-decoration: none

  .footer-links__divider
    display: inline-block
    width: 1px
    height: 12px
    background-color: #ffffff66
    margin: 0 8px
