.nav.bd-sidenav
  @for $i from 1 through 6
    .toctree-l#{$i}
      font-size: 14px
      font-weight: 500
      margin-bottom: 4px

      a.reference
        padding: 8px
        border-radius: 8px
        color: var(--pst-color-text-base)
        box-shadow: none
        margin-bottom: 4px
        overflow-wrap: break-word
        word-break: break-word
        max-width: 100%
        min-height: 32px
        margin-right: 16px
        padding-right: 30px
        line-height: 100%

        &:hover
          color: var(--pst-color-text-base)
          text-decoration: none
          background-color: var(--color-background)

        &.current
          font-weight: 500
          background-color: var(--color-background)

/* Responsive Navbar */
.navbar-nav, .dropdown-items-container
  justify-content: center
  flex-direction: column
  
  .nav-item
    margin: 0 1rem
    
    .nav-link, .dropdown-item
      color: var(--pst-color-text-base)
      font-size: 14px
      font-weight: 500
      width: 100%

      &:hover
        text-decoration: none

.navbar
  .container,
  .container-fluid
    display: flex
    justify-content: center
    align-items: center

.bd-navbar
  justify-content: center
  
  .navbar-nav
    margin: 0 auto

.navbar-header-items
  &__start,
  &__end
    flex: 0 0 auto
    
  &__center
    flex: 1 1 auto
    display: flex
    justify-content: center
    align-items: center
    
    .navbar-nav
      display: flex
      justify-content: center
      align-items: center

.navbar-nav .nav-item + .nav-item
  margin-left: 1rem

@media (min-width: 960px)
  .bd-sidebar-primary li.has-children > details > summary .toctree-toggle
    right: 16px
  
  .navbar-nav
    .nav-item
      .nav-link
        height: 64px
        display: flex
        align-items: center

@media (max-width: 1200px)
  .navbar-nav
    width: auto
    justify-content: flex-start