.container {
  background-color: var(--background-dark);
  border: 1px solid var(--background-dark-border);
  border-radius: 2px;
  box-shadow: 0 2px 20px var(--background-dark);
  box-sizing: border-box;
  position: absolute;
  width: auto;
  min-width: 100%;
  left: 0;
  z-index: 801;
  margin-top: 50%;
}

.result {
  display: flex;
  padding: 0 0.25rem;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  user-select: none;
  cursor: pointer;
  color: var(--font-dark);
  background: var(--background-dark);
  transition: all 0.1 ease-in;
  text-decoration: none;
}

.result:hover {
  background: var(--background);
  color: var(--font);
}

.result * {
  user-select: none;
}

.result > span:first-child {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.result span {
  margin-right: 6px;
}

.footer {
  text-align: right;
  color: var(--font);
  padding: 0 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
  border-top: 1px solid var(--background-dark-border);
}
