html {
  position: relative;
  min-height: 100%;
  font-size: 12px;
  height: "100%";

  @include desktop {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: $orange;
}

a,
.btn {
  &.with-right-arrow {
    padding-right: rem(22px);
    position: relative;
    background-image: url("../images/chevron-right-orange.svg");
    background-size: 6px 13px;
    background-position: center right 5px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: center right 12px;
      padding-right: rem(32px);
    }
  }
}

::-webkit-input-placeholder {
  color: $orange;
}

::-moz-placeholder {
  color: $orange;
}

:-ms-input-placeholder {
  color: $orange;
}

:-moz-placeholder {
  color: $orange;
}

.email-subscribe-form {
  input.email {
    color: $orange;
    border: none;
    border-bottom: 1px solid #939393;
    width: 100%;
    background-color: transparent;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.25px;
    line-height: 2.25rem;
  }

  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 10px;
    height: 15px;
    width: 15px;
    background-image: url("../images/arrow-right-with-tail.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
  }
}

.email-subscribe-form-fields-wrapper {
  position: relative;
}

.anchorjs-link {
  color: $quick_start_grey !important;
  @include desktop {
    &:hover {
      color: inherit;
      text-decoration: none !important;
    }
  }
}

.pytorch-article #table-of-contents {
  display: none;
}
