code, kbd, pre, samp {
  @include code_font_family;
  span {
    @include code_font_family;
  }
}

pre {
  padding: rem(18px);
  background-color: $code_background_color;

  code {
    font-size: rem(14px);
  }

  &.highlight {
    background-color: $code_background_color;
    line-height: rem(21px);
  }
}

code.highlighter-rouge {
  color: $content_text_color;
  background-color: $light_grey;
  padding: 2px 6px;
}

a:link,
a:visited,
a:hover {
  code.highlighter-rouge {
    color: $code_link_color;
  }

  &.has-code {
    color: $code_link_color;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    font-size: 78.5%;
  }
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
