.site-footer {
  padding: rem(40px) 0;
  width: 100%;
  background: $black;
  background-size: 100%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 201;

  @include desktop {
    padding: rem(80px) 0;
  }

  p {
    color: $white;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  ul li {
    font-size: rem(18px);
    line-height: rem(32px);
    color: #A0A0A1;
    padding-bottom: rem(6px);

    &.list-title {
      padding-bottom: rem(12px);
      color: $white;
    }
  }

  a:link,
  a:visited {
    color: inherit;
  }

  @include desktop {
    a:hover {
      color: $orange;
    }
  }
}

.docs-tutorials-resources {
  background-color: $slate;
  color: $white;
  padding-top: rem(40px);
  padding-bottom: rem(40px);
  position: relative;
  z-index: 201;

  @include desktop {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }

  p {
    color: #929292;
    font-size: rem(18px);
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: -0.25px;
    text-transform: none;
    margin-bottom: 0.25rem;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  .col-md-4 {
    margin-bottom: rem(32px);
    text-align: center;
    @include desktop {
      margin-bottom: 0;
    }
  }

  .with-right-arrow {
    margin-left: 12px;
    &:hover {
      background-image: url("../images/chevron-right-white.svg");
    }
  }

  p {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.22px;
    color: #939393;
    margin-bottom: 0;

    @include desktop {
      margin-bottom: rem(20px);
    }
  }

  a {
    font-size: rem(18px);
    color: $orange;
    &:hover {
      color: $white;
    }
  }
}

.footer-container {
  position: relative;
}

.footer-logo-wrapper {
  @include desktop {
    position: absolute;
    top: 0;
    left: $site_horizontal_padding;
  }
}

.footer-logo {
  background-image: url("../images/logo-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 24px;
  display: block;
  height: 24px;
  margin-bottom: rem(45px);
  width: 20px;

  @include desktop {
    background-size: 29px 36px;
    height: 36px;
    margin-bottom: 0;
    margin-bottom: 0;
    width: 29px;
  }
}

.footer-links-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    flex-wrap: initial;
    justify-content: flex-end;
  }
}

.footer-links-col {
  margin-bottom: rem(60px);
  width: 50%;

  @include desktop {
    margin-bottom: 0;
    width: 14%;
    margin-right: 23px;

    &.follow-us-col {
      width: 18%;
      margin-right: 0;
    }
  }

  @include small-desktop {
    width: 18%;
    margin-right: 30px;
  }
}

.footer-social-icons {
  margin: rem(137px) 0 rem(40px) 0;

  a {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: $very_dark_grey;
    border-radius: 50%;
    margin-right: 5px;

    &.facebook {
      background-image: url("../images/logo-facebook-dark.svg");
      background-position: center center;
      background-size: 9px 18px;
      background-repeat: no-repeat;
    }

    &.twitter {
      background-image: url("../images/logo-twitter-dark.svg");
      background-position: center center;
      background-size: 17px 17px;
      background-repeat: no-repeat;
    }

    &.youtube {
      background-image: url("../images/logo-youtube-dark.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.site-footer {
  .mc-field-group {
    margin-top: -2px;
  }
}
