.header-holder {
  height: $mobile_header_height;

  @include full-nav-menu-desktop {
    height: $desktop_header_height;
  }

  align-items: center;
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: $white;
  border-bottom: 1px solid #e2e2e2;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  @include clearfix;

  @include full-nav-menu-desktop {
    display: block;
  }
}

.header-logo {
  height: 23px;
  width: 93px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 93px 23px;
  display: block;
  float: left;
  z-index: 10;

  @include full-nav-menu-desktop {
    background-size: 108px 27px;
    position: absolute;
    height: 27px;
    width: 108px;
    top: 4px;
    float: none;
  }
}

.main-menu-open-button {
  background-image: url("../images/icon-menu-dots.svg");
  background-position: center center;
  background-size: 25px 7px;
  background-repeat: no-repeat;
  width: 25px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 4px;
  @include full-nav-menu-desktop {
    display: none;
  }
}

.header-holder .main-menu {
  display: none;

  @include full-nav-menu-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
  }

  ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;

    &.active {
      &:after {
        content: "•";
        bottom: -24px;
        color: $orange;
        font-size: rem(22px);
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }

      a {
        color: $orange;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  ul li a {
    color: $white;
    font-size: rem(18px);
    letter-spacing: 0;
    line-height: rem(34px);
    text-align: center;
    text-decoration: none;

    @include full-nav-menu-desktop {
      &:hover {
        color: $orange;
      }
    }
  }
}

.mobile-main-menu {
  display: none;
  &.open {
    background-color: $slate;
    display: block;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
}

.mobile-main-menu .container-fluid {
  align-items: center;
  display: flex;
  height: $mobile_header_height;
  position: relative;
  @include clearfix;
}

.mobile-main-menu.open {
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li a {
    font-size: rem(32px);
    color: $white;
    letter-spacing: 0;
    line-height: rem(64px);
    text-decoration: none;
  }

  ul li.active a {
    color: $orange;
  }
}

.main-menu-close-button {
  background-image: url("../images/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  top: -4px;
}

.mobile-main-menu-header-container {
  position: relative;
}

.mobile-main-menu-links-container {
  display: flex;
  align-items: center;
  padding-left: rem(45px);
  height: 100%;
  min-height: 100%;
  margin-top: -$mobile_header_height;
}
