.openModalButton {
  opacity: 1;
  pointer-events: auto;
}

@media (hover: hover) and (pointer: fine) {
  .openModalButton {
    opacity: 0;
    pointer-events: none;
  }

  .container:hover .openModalButton,
  .container:focus-within .openModalButton {
    opacity: 1;
    pointer-events: auto;
  }
}
