/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

@import url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");

.looker {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Palanquin", sans-serif;
  font-weight: bold;
  background-color: hsl(210, 11%, 15%);
}

.looker.fullscreen {
  top: 0;
  left: 0;
  z-index: 20000;
  position: fixed;
}

@keyframes shimmer {
  0% {
    background-position: -2000px 0;
  }
  100% {
    background-position: 2000px 0;
  }
}

.looker.loading {
  animation: shimmer 4s infinite;
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0) 8%,
    hsl(210, 11%, 11%) 18%,
    rgba(0, 0, 0, 0) 33%
  );
  background-size: 400% 100%;
}

.looker-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 20;
  padding-bottom: 0.25rem;
  display: grid;
  grid-template-columns: 0.5rem max-content max-content 1fr max-content max-content max-content max-content max-content 0.5rem;
  grid-gap: 0.25rem;
  justify-items: center;
  align-items: center;

  color: #eee;

  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;

  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
}

.looker-controls img {
  height: 1.75rem;
}

.looker-controls *,
.looker-controls .looker-material-icons {
  font-size: 1.25rem;
}

.looker-options-panel {
  position: absolute;
  right: 0.5rem;
  bottom: 3.5em;
  padding: 5px;
  line-height: 1;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  color: #eee;

  display: grid;
  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}

.looker-opt-input {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.looker-opt-input.hidden {
  display: none;
}

.looker-opt-input .looker-section-header {
  display: block;
  margin-bottom: 2px;
}

.looker-opt-input label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
  cursor: pointer;
  margin: 0 0 1px;
  padding-left: 3px;
  line-height: 1.5;
}

.looker-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 3px;
  min-width: max-content;
  min-height: max-content;
  width: 10%;
  height: fit-content;
  padding: 1%;
}

.looker-controls button:hover {
  cursor: pointer;
}

.looker-play-pause {
  width: 15%;
  height: 80%;
}

/* seek bar stuff */
.looker-seek-bar {
  --progress: 0%;
  width: 100%;
  border-radius: 8px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.looker-controls input[type="range"] {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  outline: none;
  border: none;
}
.looker-controls input[type="range"]:focus {
  outline: none;
  border: none;
}
.looker-controls input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--progress, 0%),
    rgb(175, 175, 175) var(--progress, 0%),
    rgb(175, 175, 175) 100%
  );
}
.looker-controls input[type="range"]::-webkit-slider-thumb {
  height: 0;
  width: 0;
  -webkit-appearance: none;
}
.looker-controls input[type="range"]:hover::-webkit-slider-runnable-track {
  animate: 0.2s;
  height: 6px;
}
.looker-controls input[type="range"]::-moz-range-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
  outline: 0;
  border: none;
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--progress, 0%),
    rgb(175, 175, 175) var(--progress, 0%),
    rgb(175, 175, 175) 100%
  );
}
.looker-controls input[type="range"]::-moz-range-thumb {
  height: 0;
  width: 0;
  outline: 0;
  border: none;
}
.looker-controls input[type="range"]:hover::-moz-range-runnable-track {
  animate: 0.2s;
  height: 6px;
  background: rgb(200, 200, 200);
}
.looker-controls *:hover,
.looker-controls *:active,
.looker-video-controls *:focus {
  outline: none;
}
.looker-options-panel *:hover,
.looker-options-panel *:active,
.looker-options-panel *:focus {
  outline: none;
}

/* Hide the browser's default checkbox */
.looker-options-panel input {
  position: absolute;

  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.looker-label input[type="radio"],
.looker-label input[type="checkbox"] {
  top: 0;
  left: 0;
  opacity: 0;
}

.looker-radio {
  border-radius: 50%;
}

.looker-label .looker-radio,
.looker-label .looker-checkbox {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgb(55, 55, 55);
  margin-left: 1rem;
  border-radius: 3px;
}
.looker-label:hover input[type="radio"] ~ .looker-radio,
.looker-label:hover input[type="checkbox"] ~ .looker-checkbox {
  background: rgb(122, 122, 122);
}
.looker-label input[type="radio"]:checked ~ .looker-radio {
  background: rgb(225, 100, 40);
}
.looker-radio:after {
  content: "";
  position: relative;
  display: none;
}
.looker-label input[type="radio"]:checked ~ .looker-radio:after {
  display: block;
}

.looker-label input[type="checkbox"]:checked ~ .looker-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20version%3D%221.1%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20y%3D%22-1.4433e-15%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%23e16428%22%2F%3E%3Cg%20transform%3D%22translate(0%20-291.71)%22%3E%3Cpath%20d%3D%22m8%20307.71%209.5-9.5-2.5-2.5-7%207-3-3-2.5%202.5z%22%20fill%3D%22%23fff%22%20opacity%3D%22.9%22%20stroke-width%3D%220%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.looker-label .looker-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.looker > canvas,
.looker > img.looker-image,
.looker > video {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  transform-origin: 0px 0px;
  object-fit: contain;
  image-rendering: crisp-edges; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.looker.loading > canvas,
.looker.loading > img,
.looker.loading > video {
  opacity: 0;
}

.looker-display-none {
  display: none;
}

.looker-clickable {
  cursor: pointer;
}

.looker-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: Arial, sans-serif, monospace;
  font-weight: normal;
  height: 100%;
  margin-top: 4px;
}

.looker-arrow {
  position: absolute;
  width: 3rem;
  height: 2.5rem;
  padding: 0.75rem 0.75rem;
  top: 50%;
  margin-top: -1.75rem;
  cursor: pointer;
  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}

.looker-loader {
  animation: shimmer 2s infinite;
  background: linear-gradient(
    90deg,
    hsla(27, 95%, 49%, 0) 0%,
    hsla(27, 95%, 49%, 0.9) 50%,
    hsla(27, 95%, 49%, 0) 100%
  );
  background-size: 400% 100%;
}

.looker-help-panel {
  position: absolute;
  left: 50%;
  width: auto;
  margin-left: -50%;
  top: 4rem;
  padding: 1rem;
  line-height: 1;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  font-weight: bold;

  color: #eee;

  display: flex;
  background-color: hsl(210, 11%, 11%);
  border: 1px solid #191c1f;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;
}

.buffering-circle {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.buffering-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
@keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
