/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.looker {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@keyframes shine {
  to {
    background-position-x: -150%;
  }
}

.looker.loading {
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0) 8%,
    hsl(210, 11%, 11%) 18%,
    rgba(0, 0, 0, 0) 33%
  );
  background-size: 300% 300%;
  animation: 0.5s shine linear infinite;
  opacity: 0;
}

.looker-controls {
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 20;
  padding-bottom: 0.25rem;
  display: grid;
  grid-template-columns: 1rem max-content max-content 1fr max-content max-content 1rem;
  grid-gap: 0.25rem;
  justify-items: center;
  align-items: center;

  color: #eee;

  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-color: rgba(33, 33, 33, 0.5);
  width: 100%;
}

.looker-controls img {
  height: 1.75rem;
}

.looker-controls *,
.looker-controls .looker-material-icons {
  font-size: 1.25rem;
}

.looker-options-panel {
  font-family: Arial, sans-serif;
  position: absolute;
  right: 0;
  bottom: 3em; /* overridden by _repositionOptionsPanel */
  padding: 5px;
  line-height: 1;
  opacity: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #eee;

  display: grid;

  background: rgba(33, 33, 33, 0.75);

  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.looker-opt-input {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

.looker-opt-input.hidden {
  display: none;
}

.looker-opt-input .looker-section-header {
  display: block;
  margin-bottom: 2px;
}

.looker-opt-input label {
  display: grid;
  justify-items: end;
  grid-template-columns: max-content 1fr;
  cursor: pointer;
  margin: 0 0 1px;
  padding: 0;
  line-height: 1.2;
}

.looker-controls button {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 3px;
  min-width: max-content;
  min-height: max-content;
  width: 10%;
  height: fit-content;
  padding: 1%;
}

.looker-controls button:hover {
  cursor: pointer;
}

.looker-play-pause {
  width: 15%;
  height: 80%;
}

/* seek bar stuff */
.looker-seek-bar {
  width: 100%;
  margin: 3px;
}
.looker-controls input[type="range"] {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
  outline: none;
  border: none;
}
.looker-controls input[type="range"]:focus {
  outline: none;
  border: none;
}
.looker-controls input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
}
.looker-controls input[type="range"]::-webkit-slider-thumb,
.looker-seek-bar {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.looker-controls input[type="range"]:hover::-webkit-slider-runnable-track {
  animate: 0.2s;
  height: 6px;
  background: rgb(200, 200, 200);
}
.looker-controls input[type="range"]:hover::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.looker-controls input[type="range"]::-moz-range-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: rgb(175, 175, 175);
  outline: 0;
  border: none;
}
.looker-controls input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  margin-top: -6px;
  outline: 0;
  border: none;
}
.looker-controls input[type="range"]:hover::-moz-range-runnable-track {
  animate: 0.2s;
  height: 6px;
  background: rgb(200, 200, 200);
}
.looker-controls input[type="range"]:hover::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: rgb(225, 100, 40);
  cursor: pointer;
  margin-top: -7px;
}
.looker-controls *:hover,
.looker-controls *:active,
.looker-video-controls *:focus {
  outline: none;
}
.looker-options-panel *:hover,
.looker-options-panel *:active,
.looker-options-panel *:focus {
  outline: none;
}

/* Hide the browser's default checkbox */
.looker-options-panel input {
  position: absolute;

  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.looker-label input[type="radio"],
.looker-label input[type="checkbox"] {
  top: 0;
  left: 0;
  opacity: 0;
}

.looker-radio {
  border-radius: 50%;
}

.looker-label .looker-radio,
.looker-label .looker-checkbox {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgb(55, 55, 55);
  margin-left: 1rem;
}
.looker-label:hover input[type="radio"] ~ .looker-radio,
.looker-label:hover input[type="checkbox"] ~ .looker-checkbox {
  background: rgb(122, 122, 122);
}
.looker-label input[type="radio"]:checked ~ .looker-radio {
  background: rgb(225, 100, 40);
}
.looker-radio:after {
  content: "";
  position: relative;
  display: none;
}
.looker-label input[type="radio"]:checked ~ .looker-radio:after {
  display: block;
}

.looker-label input[type="checkbox"]:checked ~ .looker-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20version%3D%221.1%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20y%3D%22-1.4433e-15%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22%23e16428%22%2F%3E%3Cg%20transform%3D%22translate(0%20-291.71)%22%3E%3Cpath%20d%3D%22m8%20307.71%209.5-9.5-2.5-2.5-7%207-3-3-2.5%202.5z%22%20fill%3D%22%23fff%22%20opacity%3D%22.9%22%20stroke-width%3D%220%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.looker-label .looker-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Functionality Parts.  Do not edit. */
.looker-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

img.looker-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  image-rendering: crisp-edges; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

div.looker-image {
  position: absolute;
  width: 100%;
  top: 0;
}

.looker-display-none {
  display: none;
}

.looker-clickable {
  cursor: pointer;
}

.looker-window {
  width: 100%;
  height: 100%;
  overflow: visible;
  transform-origin: 0px 0px;
}
.looker svg {
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
}
