/**
 * Copyright 2017-2024, Voxel51, Inc.
 */

.spotlight {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;

  --light-color: var(--fo-palette-text-tertiary);
  --dark-color: var(--fo-palette-background-level2);

  scrollbar-color: transparent;
}

.spotlight::-webkit-scrollbar {
  display: none;
}

.spotlight::-webkit-scrollbar-track {
  border: solid 4px transparent var(--light-color);
}

.spotlight::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 4px transparent;
  border-radius: 16px;
  transition: box-shadow linear 0.5s;
}

.spotlight:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--light-color);
}

.spotlightSection {
  position: absolute;
  display: block;
  width: 100%;
}

.spotlightContainer {
  position: relative;
  display: block;
  width: 100%;
  contain: size layout paint;
}

.spotlightContainer:focus {
  border: none;
  outline: none;
}

.spotlightRow {
  display: block;
  position: absolute;
  contain: size layout paint;
}

.spotlightRow > div {
  position: absolute;
  contain: size layout paint;
  background-color: var(--fo-palette-background-level1);
  overflow: hidden;
}

.spotlightRow.spotlightRowHidden > div > div {
  display: none;
}
