/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.flashlight {
  position: relative;
  width: 100%;
}

.flashlightSectionContainer {
  display: block;
  position: absolute;
  width: 100%;
  contain: strict;
}

.flashlightSection {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  contain: strict;
}

.flashlightSection > div {
  position: absolute;
  contain: strict;
}
