/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.bufferingCircle {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.bufferingPath {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.lookerPlaybackRate,
.lookerVolume {
  width: 80px;
}

.lookerPlayPause {
  width: 15%;
  height: 80%;
}

.lookerPlaybackRate {
  --playback: 0%;
  grid-area: 2 / 6 / 2 / 6;
}

.lookerVolume {
  --volume: 0%;
  grid-area: 2 / 5 / 2 / 5;
}

.lookerSeekBar {
  --progress: 0%;
  --buffer-progress: 0%;
  grid-area: 1 / 1 / 1 / 13;
  margin-top: -5px;
  width: 100%;
}

input[type="range"].lookerSeekBar::-webkit-slider-runnable-track {
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--progress, 0%),
    rgb(138, 138, 138) var(--progress, 0%),
    rgb(138, 138, 138) var(--buffer-progress, 0%),
    rgb(238, 238, 238) var(--buffer-progress, 0%),
    rgb(238, 238, 238) 100%
  );
}

input[type="range"].lookerVolume::-webkit-slider-runnable-track {
  width: 80px;
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--volume, 0%),
    rgb(238, 238, 238) var(--volume, 0%),
    rgb(238, 238, 238) 100%
  );
}

input[type="range"].lookerPlaybackRate::-webkit-slider-runnable-track {
  width: 80px;
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--playback, 0%),
    rgb(238, 238, 238) var(--playback, 0%),
    rgb(238, 238, 238) 100%
  );
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
@keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
