/**
 * Copyright 2017-2021, Voxel51, Inc.
 */

.lookerLoader {
  animation: shimmer 5s infinite;
  background-size: 200% 100%;
}

.bufferingCircle {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.bufferingPath {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.lookerPlayPause {
  width: 15%;
  height: 80%;
}

.lookerPlaybackRate {
  --progress: 0%;
}

.lookerVolume {
  --volume: 0%;
}

.lookerSeekBar {
  --progress: 0%;
  --buffer-progress: 0%;
}

input[type="range"].looker-seek-bar::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    rgb(225, 100, 40) 0%,
    rgb(225, 100, 40) var(--progress, 0%),
    rgb(55, 55, 55) var(--progress, 0%),
    rgb(55, 55, 55) var(--buffer-progress, 0%),
    rgb(175, 175, 175) var(--buffer-progress, 0%),
    rgb(175, 175, 175) 100%
  );
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
@keyframes color {
  0% {
    stroke: rgb(238, 238, 238);
  }
  40% {
    stroke: rgb(238, 238, 238);
  }
  66% {
    stroke: rgb(238, 238, 238);
  }
  80%,
  90% {
    stroke: rgb(238, 238, 238);
  }
}
