name: Build

on:
  push:
    branches:
      - develop
      - rel-*
      - release-*
      - github-actions-*
    tags:
      - v*
  pull_request:
    types: [opened, synchronize, ready_for_review]
    branches:
      - develop
      - rel-*
      - release-*

jobs:
  build:
    runs-on: ubuntu-18.04
    if: github.event.pull_request.draft == false
    steps:
      - name: Clone fiftyone
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel
      - name: Build wheel
        run: |
          python setup.py bdist_wheel
      - name: Upload wheel
        uses: actions/upload-artifact@v2
        with:
          name: wheel
          path: dist/*.whl
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Clone fiftyone
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Check tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          python .github/tools/check-setup-version.py setup.py $(echo ${{ github.ref }} | sed 's/refs\/tags\/v//')

  test:
    runs-on: ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    needs: [build, check]
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-18.04
          - windows-latest
        python-version:
          - 3.5
          - 3.8
        exclude:
          - os: windows-latest
            python-version: 3.5
    defaults:
      run:
        shell: bash
    steps:
      - name: Clone fiftyone
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pip dependencies
        # use `python -m pip` to work around Windows permission issues when
        # upgrading pip
        run: |
          python -m pip install --upgrade pip setuptools wheel
          mkdir -p pip-cache
          echo ::set-env name=PIP_CACHE_DIR::pip-cache
      - name: Fetch pip cache
        uses: actions/cache@v2
        with:
          path: pip-cache
          key: pip-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements/*.txt') }}
          restore-keys: |
            pip-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements/*.txt') }}
            pip-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('setup.py') }}-
            pip-${{ runner.os }}-${{ matrix.python-version }}-
      - name: Download fiftyone wheel
        uses: actions/download-artifact@v2
        with:
          name: wheel
          path: downloads
      - name: Fetch DB cache
        uses: actions/cache@v2
        with:
          key: db-${{ runner.os }}-${{ hashFiles('package/db/setup.py') }}
          path: package/db/cache/
      - name: Install fiftyone-db
        working-directory: package/db
        run: |
          python setup.py bdist_wheel
          pip install dist/*.whl
      - name: Install fiftyone
        env:
          PIP_INDEX_URL: https://voxel51-ci@pypi.voxel51.com
        run: |
          pip install -e package/gui/
          pip install -e . fiftyone-brain
      - name: Upgrade ETA to pre-release
        if: ${{ !startsWith(github.ref, 'refs/heads/rel') && !startsWith(github.ref, 'refs/tags/') }}
        env:
          PIP_INDEX_URL: https://voxel51-ci@pypi.voxel51.com
        run: |
          echo "Upgrading ETA because github.ref = ${{ github.ref }} (not a release)"
          pip install -U "voxel51-eta>=0.dev0"
      - name: Install test dependencies (non-Windows)
        if: ${{ !startsWith(matrix.os, 'windows') }}
        run: |
          pip install pytest tensorflow tensorflow-datasets torch torchvision
      - name: Install test dependencies (Windows)
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: |
          pip install pytest tensorflow tensorflow-datasets
          pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - name: Run tests
        run: |
          python tests/utils/pytest_wrapper.py tests/ --verbose --ignore tests/benchmarking/ --ignore tests/isolated/ --ignore tests/utils/ --ignore tests/import_export/
      - name: Run isolated tests
        if: success() || failure()
        run: |
          find tests/isolated/ -name '*.py' -print0 | xargs -0 --verbose -n1 python tests/utils/pytest_wrapper.py --verbose

  all-tests:
    needs: test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: sh -c ${{ needs.test.result == 'success' }}

  publish:
    needs: [build, check, test]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-18.04
    steps:
      - name: Download wheel
        uses: actions/download-artifact@v2
        with:
          name: wheel
          path: downloads
      - name: Install dependencies
        run: |
          pip3 install twine
      - name: Upload to pypi.voxel51.com
        env:
          TWINE_USERNAME: voxel51-ci
          TWINE_PASSWORD: ${{ secrets.FIFTYONE_GITHUB_TOKEN }}
          TWINE_NON_INTERACTIVE: 1
        run: |
          python3 -m twine upload --repository-url https://pypi.voxel51.com downloads/*.whl
