name: Build docs

on:
  push:
    branches:
      # - develop
      - rel-*
      - release-*
      - docs-*
      - github-actions-*
    tags:
      - v*
      - docs-publish
    paths:
      - .github/workflows/build-docs.yml
      - docs/**
      - examples/**
      - fiftyone/**
      - "**.py"
      - "**.md"
      - "**.rst"
  pull_request:
    branches:
      - develop
      - rel-*
      - release-*
    paths:
      - .github/workflows/build-docs.yml
      - docs/**
      - examples/**
      - fiftyone/**
      - "**.py"
      - "**.md"
      - "**.rst"

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Clone fiftyone
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install pip dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          mkdir -p pip-cache
          echo ::set-env name=PIP_CACHE_DIR::pip-cache
      - name: Fetch pip cache
        uses: actions/cache@v2
        with:
          path: pip-cache
          key: pip-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements/*.txt') }}
          restore-keys: |
            pip-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements/*.txt') }}
            pip-${{ hashFiles('setup.py') }}-
            pip-
      - name: Install dependencies
        env:
          PIP_INDEX_URL: https://voxel51-ci@pypi.voxel51.com
        run: |
          sudo apt-get install pandoc
          pip install -e .
          pip install -r requirements/docs.txt
          pip install fiftyone-brain pycocotools tensorflow torch torchvision
      - name: Install fiftyone-db
        working-directory: package/db
        run: |
          python setup.py bdist_wheel
          pip install dist/*.whl
      - name: Upgrade ETA to pre-release
        if: ${{ !startsWith(github.ref, 'refs/heads/rel') && !startsWith(github.ref, 'refs/tags/') }}
        env:
          PIP_INDEX_URL: https://voxel51-ci@pypi.voxel51.com
        run: |
          echo "Upgrading ETA because github.ref = ${{ github.ref }} (not a release)"
          pip install -U "voxel51-eta>=0.dev0"
      - name: Build docs
        run: |
          ./docs/generate_docs.bash
      - name: Upload docs
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/build/html/

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Clone fiftyone
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Check tag
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          python .github/tools/check-setup-version.py setup.py $(echo ${{ github.ref }} | sed 's/refs\/tags\/v//')

  publish:
    needs: [build, check]
    if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/tags/docs-publish'
    runs-on: ubuntu-18.04
    steps:
      - name: Clone website
        uses: actions/checkout@v2
        with:
          repository: voxel51/website
          token: ${{ secrets.FIFTYONE_GITHUB_TOKEN }}
          ref: develop
      - name: Download docs
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs-download/
      - name: Update docs
        run: |
          find docs-download/
          test -f docs-download/genindex.html
          rm -r source/docs/fiftyone/
          cp -r docs-download/ source/docs/fiftyone/
          rm -r docs-download/
      - name: Create website PR
        uses: peter-evans/create-pull-request@v2
        with:
          branch: fiftyone-docs
          commit-message: |
            Update fiftyone docs (${{ github.ref }})

            voxel51/fiftyone@${{ github.sha }}
          title: Automated fiftyone documentation update
          body: " "
          token: ${{ secrets.FIFTYONE_GITHUB_TOKEN }}
          author: voxel51-bot <bot@voxel51.com>
          labels: documentation
          reviewers: jasoncorso, brimoor
          team-reviewers: developers
