name: Test e2e

on: workflow_call

jobs:
  test-e2e:
    timeout-minutes: 90
    runs-on: ubuntu-latest # the standard runner's 14GB free disk space is not sufficient.  We create more free space with the `jlumbroso/free-disk-space` action as a step (below).
    name: Test e2e (Mongo ${{ matrix.mongodb-version }})
    env:
      FIFTYONE_DO_NOT_TRACK: true
      FIFTYONE_APP_DEFAULT_QUERY_PERFORMANCE: false
      FIFTYONE_DATABASE_URI: mongodb://localhost:27017
      FIFTYONE_DATABASE_NAME: playwright
      ELECTRON_EXTRA_LAUNCH_ARGS: "--disable-gpu"
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/ms-playwright
      FIFTYONE_PLUGINS_DIR: ${{ github.workspace }}/e2e-pw/src/shared/assets/plugins
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        mongodb-version:
          - "6"
          - "7"
          - "8.0"
          - "latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup node 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Enable corepack
        run: corepack enable
      - name: Prepare yarn 4
        run: corepack prepare yarn@4.9.1 --activate

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ORG_DOCKERHUB_USERNAME }}
          password: ${{ secrets.RO_DOCKERHUB_PAT }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Setup
        uses: actions/setup-python@v6
        id: pip-cache
        with:
          python-version: 3.10.16
          cache: "pip"
          cache-dependency-path: |
            requirements/common.txt
            requirements/github.txt
            requirements/test.txt
            requirements/e2e.txt
      - name: Free Disk Space (Ubuntu) # standard runner's 14 GB available disk size isn't enough. Need at least 22 GB free.
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          large-packages: false # e2e test failed when `true`
      - name: Install requirements
        if: steps.pip-cache.outputs.cache-hit != true
        run: |
          pip install -r requirements/e2e.txt

      - name: Cache Node Modules
        id: app-node-cache
        uses: actions/cache@v5
        with:
          path: |
            app/node_modules
            app/.yarn/cache
          key: node-modules-${{ hashFiles('app/yarn.lock') }}

      - name: Install app
        if: steps.app-node-cache.outputs.cache-hit != 'true'
        run: yarn install
        working-directory: app

      - name: Build app
        run: make app

      - name: Install fiftyone
        run: |
          pip install .

      - name: Configure
        id: test_config
        run: |
          python tests/utils/setup_config.py
          python tests/utils/github_actions_flags.py

      # - name: Setup FFmpeg (with retries)
      #   uses: FedericoCarboni/setup-ffmpeg@v3

      # Use this until https://github.com/federicocarboni/setup-ffmpeg/pull/23
      # is merged or the maintainer addresses the root issue.
      - name: Setup FFmpeg (with retries)
        uses: afoley587/setup-ffmpeg@main

      - name: Cache E2E Node Modules
        id: e2e-node-cache
        uses: actions/cache@v5
        with:
          path: |
            e2e-pw/node_modules
          key: node-modules-${{ hashFiles('e2e-pw/yarn.lock') }}

      - name: Install E2E dependencies if not cached
        run: yarn install
        if: steps.e2e-node-cache.outputs.cache-hit != 'true'
        working-directory: e2e-pw

      - name: Get Playwright version
        id: playwright-version
        run: |
          echo "PLAYWRIGHT_VERSION=$(node -e "process.stdout.write(require('@playwright/test/package.json').version)")" >> $GITHUB_OUTPUT
        working-directory: e2e-pw

      - name: Cache playwright browser
        uses: actions/cache@v5
        id: playwright-browser-cache
        with:
          path: ${{ env.PLAYWRIGHT_BROWSERS_PATH }}
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.PLAYWRIGHT_VERSION }}

      - name: Install Playwright browser if not cached
        run: yarn playwright install
        if: steps.playwright-browser-cache.outputs.cache-hit != 'true'
        working-directory: e2e-pw

      - name: Run Playwright tests
        run: yarn e2e
        working-directory: e2e-pw

      - name: Lint Playwright tests
        run: yarn lint
        working-directory: e2e-pw

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report-mongodb-${{ matrix.mongodb-version }}
          path: e2e-pw/playwright-report/
          retention-days: 30
