name: Test e2e

on: workflow_call

jobs:
  test-e2e:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      FIFTYONE_DO_NOT_TRACK: true
      ELECTRON_EXTRA_LAUNCH_ARGS: "--disable-gpu"
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/ms-playwright
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install setup dependencies
        run: |
          pip install --upgrade pip setuptools wheel

      - name: Install requirements.txt
        run: |
          pip install -r requirements/github.txt

      - name: Cache Node Modules
        id: app-node-cache
        uses: actions/cache@v3
        with:
          path: |
            app/node_modules
            app/.yarn/cache
          key: node-modules-${{ hashFiles('app/yarn.lock') }}

      - name: Install app
        if: steps.app-node-cache.outputs.cache-hit != 'true'
        run: yarn install
        working-directory: app

      - name: Build app
        run: make app

      - name: Install fiftyone
        run: pip install .

      - name: Configure
        id: test_config
        run: |
          python tests/utils/setup_config.py
          python tests/utils/github_actions_flags.py

      - name: FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Cache E2E Node Modules
        id: e2e-node-cache
        uses: actions/cache@v3
        with:
          path: |
            e2e-pw/node_modules
          key: node-modules-${{ hashFiles('e2e-pw/yarn.lock') }}

      - name: Install E2E dependencies if not cached
        run: yarn install
        if: steps.e2e-node-cache.outputs.cache-hit != 'true'
        working-directory: e2e-pw

      - name: Get Playwright version
        id: playwright-version
        run: |
          echo "PLAYWRIGHT_VERSION=$(node -e "process.stdout.write(require('@playwright/test/package.json').version)")" >> $GITHUB_OUTPUT
        working-directory: e2e-pw

      - name: Cache playwright browser
        uses: actions/cache@v3
        id: playwright-browser-cache
        with:
          path: ${{ env.PLAYWRIGHT_BROWSERS_PATH }}
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.PLAYWRIGHT_VERSION }}
          working-directory: e2e-pw

      - name: Install Playwright browser if not cached
        run: yarn playwright install
        if: steps.playwright-browser-cache.outputs.cache-hit != 'true'
        working-directory: e2e-pw

      - name: Run Playwright tests
        run: yarn e2e
        working-directory: e2e-pw

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: e2e-pw/playwright-report/
          retention-days: 30
