name: Lint App

on: workflow_call

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            changes:
              - 'app/**'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "16"

      - name: Cache Node Modules
        id: node-cache
        uses: actions/cache@v3
        with:
          path: |
            app/node_modules
            app/.yarn/cache
          key: node-modules-${{ hashFiles('app/yarn.lock') }}

      - name: Install Dependencies
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: cd app && yarn install

      - name: Read ESLint Packages List and Lint
        if: steps.changes.outputs.changes == 'true'
        run: |
          cd app
          ESLINT_PACKAGES=$(grep -v '^#' ./eslint-packages.txt | xargs)
          yarn eslint $ESLINT_PACKAGES --max-warnings=0
