name: Windows Tests

on: workflow_call

jobs:
  test-python:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    env:
      FIFTYONE_DO_NOT_TRACK: true
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
        python:
          - "3.12"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            /*
            !/docs/**
          sparse-checkout-cone-mode: false
      - name: Setup
        uses: actions/setup-python@v6
        id: pip-cache
        with:
          python-version: ${{ matrix.python }}
      - name: Setup (UV)
        uses: astral-sh/setup-uv@v7
        id: uv-cache
        with:
          python-version: ${{ matrix.python }}
          enable-cache: true
          cache-dependency-glob: |
            requirements/common.txt
            requirements/github.txt
            requirements/test.txt
      - name: Install requirements (UV)
        run: |
          uv pip install --system -U wheel setuptools
          uv pip install --system -r requirements/github.txt
      - name: Install fiftyone
        run: |
          uv pip install --system .
      - name: Configure
        id: test_config
        run: |
          python tests/utils/setup_config.py
          python tests/utils/github_actions_flags.py

      # - name: Setup FFmpeg (with retries)
      #   uses: FedericoCarboni/setup-ffmpeg@v3

      # Use this until https://github.com/federicocarboni/setup-ffmpeg/pull/23
      # is merged or the maintainer addresses the root issue.
      - name: Setup FFmpeg (with retries)
        uses: afoley587/setup-ffmpeg@main

      # Important: use pytest_wrapper.py instead of pytest directly to ensure
      # that services shut down cleanly and do not conflict with steps later in
      # this workflow
      - name: Run tests
        run: |
          python tests/utils/pytest_wrapper.py -n 4 tests/ --verbose \
            --cov --cov-report xml \
            --ignore tests/benchmarking/ \
            --ignore tests/isolated/ \
            --ignore tests/utils/ \
            --ignore tests/intensive/ \
            --ignore tests/no_wrapper \
            --ignore tests/session_tests.py
      - name: Run no wrapper tests
        run: |
          pytest tests/no_wrapper tests/session_tests.py --verbose
      # Intended to run even if the tests above failed
      - name: Run isolated tests
        if: success() || failure()
        run: |
          find tests/isolated/ -name '*.py' -print0 | xargs -0 --verbose -n1 python tests/utils/pytest_wrapper.py --verbose
